.Navbar {
  background: var(--salmon);
}
.Navbar-brand {
  font-family: "Poppins ExtraBold";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.Navbar-brand span {
  color: whitesmoke;
}

.Navbar-brand:hover {
  transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transform: scale(1.1, 1.1);
  text-decoration: none;
}

.Navbar-brand * {
  margin: 0px 2.5px;
}
